<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.example.mybatis.bean.User">
        <id column="id" property="id"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM
        `rsd_user`
        WHERE `id` = #{id}
    </select>
</mapper>